# API Backend
NEXT_PUBLIC_API_URL=http://localhost:5001/api/v1

# Socket.IO
NEXT_PUBLIC_SOCKET_URL=http://localhost:5001

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=furniture-vn

# Google Maps (Shipper PWA)
NEXT_PUBLIC_GOOGLE_MAPS_KEY=your-api-key

# App info
NEXT_PUBLIC_APP_NAME=Furniture VN
NEXT_PUBLIC_APP_URL=http://localhost:3000
